@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

// customize some Bootstrap variables
$success: #064a21;

// creation of new classes
.text-font {
  font-family: "IBM Plex Mono", monospace;
}

.text-shadow {
  text-shadow: #070600 1px 0 10px;
}

$success-900: #021b0c;

.bg-success {
  --bs-bg-opacity: 1;

  background-color: $success-900 !important;
}

.cards {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $warning;
  background-clip: border-box;
  border-radius: 4.25rem;
  z-index: 2;
  border: transparent;
  background-image: linear-gradient(30deg, $light 50%, transparent 50%);
  background-size: 1500px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: background 300ms ease-in-out;
}

.cards:hover {
  background-position: 100%;
  color: #fff;

  i.fa-solid {
    color: #fff !important;
  }
}
